.main-navbar{
    background-color: #2E2645;
}


.footer{
    background-color: #2E2645;
    color: #fff ;
}

html,body, #root{
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
}

#root > main{
    flex: 1;
}