.main-navbar {
    background-color: #2E2645;
}

.main-navbar .navbar-toggler {
    background-color: #8672ED;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.btn-agendar {
    background-color: #8672ED;
    color: #fff;
    border-radius: 3.125rem;
    width: 14.375rem;
}

.footer {
    background-color: #0C0A12;
    color: #fff;
}

.banner-home p {
    color: #CED4DA;
    font-size: 1rem;
}

.banner-home h1 {
    color: #FFF;
    font-size: 4.5rem;
}

.banner-home>div {
    flex: 1;
}

/*studio*/

.cardstudio{
    background-color:#2E2645;
    /* width: 20.5rem; */
    color: #FFF;
}